<div class="user-card">
    <h2>Keycloak Server Informations</h2>

    <table class="user-table">
        <tr>
            <td class="table-column-title"><strong>Issuer</strong></td>
            <td class="table-column-content">{{ keycloakServer.iss }}</td>
            <td class="table-column-button">
                <button mat-icon-button class="icon-green" matTooltip="Copy" matTooltipPosition="left" (click)="copyToClipboard(keycloakServer.iss)">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="table-column-title"><strong>Client</strong></td>
            <td class="table-column-content">{{ keycloakServer.azp }}</td>
            <td class="table-column-button">
                <button mat-icon-button class="icon-green" matTooltip="Copy" matTooltipPosition="left" (click)="copyToClipboard(keycloakServer.azp)">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="table-column-title"><strong>Scope</strong></td>
            <td class="table-column-content">{{ keycloakServer.scope }}</td>
            <td class="table-column-button">
                <button mat-icon-button class="icon-green" matTooltip="Copy" matTooltipPosition="left" (click)="copyToClipboard(keycloakServer.scope)">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </td>
        </tr>
    </table>

    <hr>

    <table class="user-table">
        <tr>
            <td class="table-column-title"><strong>Forged Time</strong></td>
            <td class="table-column-content">{{ keycloakServer.iat | timestampToDate }} <small>({{ keycloakServer.iat }})</small></td>
            <td class="table-column-button">
                <button mat-icon-button class="icon-green" matTooltip="Copy" matTooltipPosition="left" (click)="copyToClipboard(keycloakServer.iat)">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="table-column-title"><strong>Expiration Time</strong></td>
            <td class="table-column-content">{{ keycloakServer.exp | timestampToDate }} <small>({{ keycloakServer.exp }})</small></td>
            <td class="table-column-button">
                <button mat-icon-button class="icon-green" matTooltip="Copy" matTooltipPosition="left" (click)="copyToClipboard(keycloakServer.exp)">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="table-column-token" [colSpan]="3">
                <div class="countdown-timer" *ngIf="remainingTime > 0">
                    <span class="badge" [ngClass]="getBadgeClass()">
                        Token Time Remaining: {{ formatRemainingTime(remainingTime) }}
                    </span>
                </div>
            </td>
        </tr>
    </table>

    <hr>

    <table class="user-table">
        <tr>
            <td class="table-column-title"><strong>Session ID</strong></td>
            <td class="table-column-content">{{ keycloakServer.sid }}</td>
            <td class="table-column-button">
                <button mat-icon-button class="icon-green" matTooltip="Copy" matTooltipPosition="left" (click)="copyToClipboard(keycloakServer.sid)">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="table-column-title"><strong>Allowed Origins</strong></td>
            <td class="table-column-content">
                <div class="badges-container">
                <span 
                    *ngFor="let currentOrigin of keycloakServer.allowedOrigins"
                    class="badge"
                    (click)="copyToClipboard(currentOrigin)">
                    {{ currentOrigin }}
                </span>
                </div>
            </td>
            <td class="table-column-button">
                <button mat-icon-button class="icon-green" matTooltip="Copy" matTooltipPosition="left" (click)="copyToClipboard(keycloakServer.allowedOrigins)">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </td>
        </tr>
        <tr>
            <td class="table-column-title"><strong>Access Context Class Reference (acr)</strong></td>
            <td class="table-column-content acr-value">
                <span class="badge badge-acr-value"
                    (click)="copyToClipboard(keycloakServer.acr)">
                    {{ keycloakServer.acr }}
                </span>
            </td>
            <td class="table-column-button">
                <button mat-icon-button class="icon-green" matTooltip="Copy" matTooltipPosition="left" (click)="copyToClipboard(keycloakServer.acr)">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>