main {
    padding-top: 70px;
    flex: 1;
    margin-bottom: 48px; /* hauteur du footer */
}

/* Dans app.component.css */
:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}