<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    
    <div class="container-fluid">

        <a class="navbar-brand" href="#">KATA 2</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">

            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                </li>

                <!-- @if (!authenticated) {
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Private</a>    
                    </li>
                } @else {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/private">Private</a>          
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/admin" *kaHasRoles="['admin']">Admin</a>
                    </li>
                } -->
            </ul>
            
            <div class="d-flex">
                
            @if (!authenticated) {
                <button class="btn btn-outline-success" (click)="login()">Login</button>
            } @else {
                <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
            }
            </div>
            
            @if (keycloakStatus) {
                <span class="badge text-bg-success">Keycloak Online</span>
                <i class="bi bi-clipboard"></i>
            } @else {
                <span class="badge text-bg-danger">Keycloak Offline</span>
                <i class="bi bi-clipboard"></i>
            }
            <button class="btn btn-outline-light ms-2" (click)="openProfileModal()">
                <i class="bi bi-gear-fill"></i>
              </button>
              

            <!-- <div *ngIf="showConfigForm" class="card p-3 bg-light text-dark mt-3">
                <h5>Configurer un profil Keycloak</h5>
              
                <select class="form-select mb-2" [(ngModel)]="selectedProfile" (change)="loadProfile()">
                  <option *ngFor="let profile of profileNames" [value]="profile">{{ profile }}</option>
                </select>
              
                <input class="form-control mb-2" placeholder="Nom du profil" [(ngModel)]="form.name">
                <input class="form-control mb-2" placeholder="URL" [(ngModel)]="form.url">
                <input class="form-control mb-2" placeholder="Realm" [(ngModel)]="form.realm">
                <input class="form-control mb-2" placeholder="Client ID" [(ngModel)]="form.clientId">
                <input class="form-control mb-2" placeholder="Client Secret" [(ngModel)]="form.clientSecret">
                <input class="form-control mb-2" placeholder="Scope" [(ngModel)]="form.scope">
              
                <button class="btn btn-primary me-2" (click)="saveProfile()">💾 Enregistrer</button>
                <button class="btn btn-danger" (click)="deleteProfile()">🗑️ Supprimer</button>
              </div> -->
              
        </div>

    </div>
</nav>